* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$light-green: rgba(126, 213, 111, 0.8);
$medium-green: #55c578;
$dark-green: rgba(40, 180, 133, 0.808);

@import './_anime';

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;

    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.header {
    height: 95vh;
    background-image: linear-gradient( to right bottom, $light-green, $dark-green), url(../img/nature.jpg);
    background-size: cover;
    background-position: top;
    position: relative;     
        
    .logo-box {
        position: absolute;
        top: 40px;
        left: 40px;

        .logo {
            height: 40px;
        }
        .logo:hover {
            animation: moveInRight 2s ease-out;
        }
    }   
 
    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* ignore relative to parent; place relative to self; perfect center */
        transform: translate(-50%, -50%);
        text-align: center;

        .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 60px;

            .heading-primary-main {
                display: block;
                font-size: 60px;
                font-weight: 400;
                letter-spacing: 35px;
                
                animation-name: moveInLeft;
                animation-duration: 3s;
                animation-delay: 1s;
                animation-iteration-count: 1;
                animation-timing-function: ease-out;
            }
            .heading-primary-sub {
                display : block;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 17.5px;

            }
        }
        .btn:link,
        .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 100px;
            transition: all 1s;
        }
        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 10px rgba(0,0,0,.2);
        }
       
        .btn:active {
            transform: translateY(-1px);
        }

        .btn-white {
            background-color:white;
            color: #777;
            padding: 20px 30px;
        }
    }
}


